<div class="container">
    <!--showmessage alert for delete-->
    <div *ngIf="successmsg" class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>{{successmsg}}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <br><br>
    <div align="center">
      <img  src="./assets/logo.png" style="height: 100px;">
  <br><br>
    <table class="table">
      <thead>
        <tr>
          <td align= "center" scope="col">NO.</td>
          <td align= "center" scope="col">NAME</td>
          <td align= "center" scope="col">EMAIL</td>
          <td align= "center" scope="col">PHONE NUMBER</td>
          <td align= "center" scope="col">CAR BUY</td>
          <td align= "center" scope="col">PAYMENT</td>
  
          <td scope="col"></td>
          <td scope="col"></td>
  
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = 'let us of listData'>
          <td align= "center"scope="row">{{us.id}}</td>
          <td align= "center">{{us.name}}</td>
          <td align= "center">{{us.email}}</td>
          <td align= "center">{{us.phone_num}}</td>
          <td align= "center">{{us.car_buy}}</td>
          <td align= "center">{{us.payment}}</td>
  
          <td></td>
          <td>
  
            <button  (click)="deleteId(us.id)">REMOVE</button>
            &nbsp;
            <button  (click)="handleEditClick(us.id)" >EDIT</button>
          </td>
        </tr>
  
      </tbody>
    </table>
  
  </div>
  </div>
  
  


