<div class="container-img">
        <div class="wrapper">
            <img src="https://images.pexels.com/photos/7249181/pexels-photo-7249181.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" >
            <img src="./assets/home-pic1.jpg" >
            <img src="./assets/home-pic2.jpg" >
            <img src="https://images.pexels.com/photos/2365572/pexels-photo-2365572.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" >
        </div>
</div>

<div class="container-2">
    <h1>Welcome To Our Website</h1><br><h1>Raya Promo</h1><br><br>
    <button type="button" class="btn btn-primary btn-lg" [routerLink]="['/rentadd']"routerLinkActive="router-link-active">RENTAL</button>&nbsp;&nbsp;&nbsp;
    <button type="button" class="btn btn-primary btn-lg"[routerLink]="['/buyadd']"routerLinkActive="router-link-active">BUY</button><br>
    &nbsp;&nbsp;&nbsp;&nbsp;<p>50% Discount For Rental</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<p>20% Discount For Buy</p>
</div>
<br><br><br><br>
<div class="container-3">
    <h3>Rental Car</h3>
</div>
<br>
<div class="ui-card">
	<img src="https://upload.wikimedia.org/wikipedia/commons/5/5b/2013_Perodua_Myvi_1.3_SE_%28S-Series%29_in_Cyberjaya%2C_Malaysia_%2803%29.jpg">
	<div class="description">
		<h3>MYVi</h3>
		<p>One Days = RM 75.00</p>
		<P>Two Days = RM 150.00</P>
		<a href="#" [routerLink]="['/fag']"routerLinkActive="router-link-active">Read More</a>
	</div>
</div>
<div class="ui-card">
	<img src="https://media-assets.mazda.eu/image/upload/q_auto,f_auto/mazdauk/globalassets/cars/suv-range/centralized/desktop/the-soul-red-mazda-cx-30-driving-on-a-street-desktop.jpg?rnd=4a9a63">
	<div class="description">
		<h3>Mazda</h3>
		<p>One Days = RM 85.00</p>
		<p>Two Days = RM 170.00</p>
		<a href="#"[routerLink]="['/fag']"routerLinkActive="router-link-active">Read More</a>
	</div>
</div>
<div class="ui-card">
	<img src="https://global.toyota/pages/news/images/2023/06/21/1330/001.jpg">
	<div class="description">
		<h3>Alphard</h3>
		<p>One Days = RM 163.00</p>
		<p>Two Days = RM 326.00</p>
		<a href="#" [routerLink]="['/fag']"routerLinkActive="router-link-active">Read More</a>
	</div>
</div>

<br><br><br><br>

<div class="container-5">
  <h3>Buy Car</h3>
</div>
<br>
<div class="ui-card-buy">
	<img src="https://upload.wikimedia.org/wikipedia/commons/5/5b/2013_Perodua_Myvi_1.3_SE_%28S-Series%29_in_Cyberjaya%2C_Malaysia_%2803%29.jpg">
	<div class="description">
		<h3>Myvi</h3>
		<p>Price : RM20,800</p>
		<a href="#"[routerLink]="['/fag']"routerLinkActive="router-link-active">Read More</a>
	</div>
</div>
<div class="ui-card-buy">
	<img src="https://media-assets.mazda.eu/image/upload/q_auto,f_auto/mazdauk/globalassets/cars/suv-range/centralized/desktop/the-soul-red-mazda-cx-30-driving-on-a-street-desktop.jpg?rnd=4a9a63">
	<div class="description">
		<h3>Mazda</h3>
		<p>Price : RM125,900</p>
		<a href="#"[routerLink]="['/fag']"routerLinkActive="router-link-active">Read More</a>
	</div>
</div>
<div class="ui-card-buy">
	<img src="https://res.cloudinary.com/caradvice/image/private/q_auto/v1608280605/uiytzyctvvqp3tjezubz.jpg">
	<div class="description">
		<h3>Fortuner</h3>
		<p>Price : RM105,988</p>
		<a href="#"[routerLink]="['/fag']"routerLinkActive="router-link-active">Read More</a>
	</div>
</div>
<div class="ui-card-buy">
	<img src="https://global.toyota/pages/news/images/2023/06/21/1330/001.jpg">
	<div class="description">
		<h3>Alphard</h3>
		<p>Price : RM185,800</p>
		<a href="#"[routerLink]="['/fag']"routerLinkActive="router-link-active">Read More</a>
	</div>
</div>
<br><br><br>















