<div class="wrapper">
    <h1>Frequently Asked Questions</h1>
<ul id="accordion">
  <li>
    <label for="first">How to Buy or Rent car?<span>&#x3e;</span></label>
    <input type="radio" name="accordion" id="first" checked>
    <div class="content">
      <p>Automobile rentals and purchases can be completed via the website, by phone, or by having Mr. and Mrs. visit our place of business.</p>
    </div>
  </li>
  <li>
    <label for="second">How to buy or rental via online system?<span>&#x3e;</span></label>
    <input type="radio" name="accordion" id="second">
    <div class="content">
      <p>Mr. or Mrs. may navigate to our website at Easy.my.com and, based on their preferences, may select the rental or purchase button.</p>
    </div>
  </li>
  <li>
    <label for="third">Car Spec Myvi<span>&#x3e;</span></label>
    <input type="radio" name="accordion" id="third">
    <div class="content">
      <h3>Myvi</h3>
      <p>1.3LG (without PSDA)</p>
      <p>Hatchback,Petrol,CVT</p>
      <p>Tank 36L</p>
      <p>Five Door</p>
      <p>Five Seat</p>
      <p>1.3L Petrol Engine, 4 Cylinder 16 Valve DOHC</p>
      <p>Power Steering</p>
      <p>Disc Brec front and back</p>
    </div>
  </li>
  <li>
    <label for="forth">Car Spec Mazda<span>&#x3e;</span></label>
    <input type="radio" name="accordion" id="forth">
    <div class="content">
      <h3>Mazda</h3>
      <p>CX-5 2.5G High 2WD</p>
      <p>Tank 56L</p>
      <p>Five Door</p>
      <p>Five Seat</p>
      <p>2.5L Petrol Engine, 4 Cylinder 16 Valve DOHC</p>
      <p>Power Steering</p>
      <p>Front brec use ventilated Disc</p>
      <p>Brec back disc</p>
    </div>
  </li>
  <li>
    <label for="fifth">Car Spec Fortuner<span>&#x3e;</span></label>
    <input type="radio" name="accordion" id="fifth">
    <div class="content">
      <h3>Fortuner</h3>
      <p>2.4LAT 4x4</p>
      <p>SUV,DIESEL,Automatic</p>
      <p>Tank 8L</p>
      <p>Five Door</p>
      <p>Seven Seat</p>
      <p>2.4L Diesel Engine, In-line 4 Cylinder 16 Valve DOHC</p>
      <p>Power Steering</p>
      <p>ventilated Disc brec front and back</p>
    </div>
  </li>
  <li>
    <label for="six">Car Spec Alphard<span>&#x3e;</span></label>
    <input type="radio" name="accordion" id="six">
    <div class="content">
      <h3>Alphard</h3>
      <p>2.4 Executive Lounge</p>
      <p>MPV,Petrol,Automatic</p>
      <p>Tank 75L</p>
      <p>Five Door</p>
      <p>Seven Seat</p>
      <p>2.4L Petrol Engine, In-line 4 Cylinder 16 Valve DOHC</p>
      <p>Power Steering</p>
      <p>ventilated Disc brec front and back</p>
    </div>
  </li>
  <li>
    <label for="seven">Condition for car renters<span>&#x3e;</span></label>
    <input type="radio" name="accordion" id="seven">
    <div class="content">
      <p>The renter must have a P license to rent a car</p>
      <p>We will not be held responsible in the event of an accident</p>
      <p>The renter has to be responsible for the car used in case of any accident</p>
      <p>Additional charges will apply if the car is returned late</p>
    </div>
  </li>
</ul>    
</div>
