<div class="main">
    <div class="container">
        <img class="logo-bg" src="./assets/logo.png">
        <img class="bg-image" src="https://media.istockphoto.com/id/1446097589/photo/looking-directly-up-at-the-skyline-of-the-financial-district-in-central-london.webp?b=1&s=170667a&w=0&k=20&c=Wh4ELq_ZcbpbBlsyPSV0tTQDkHPpiOPtKcu6cRT-gZ0=" alt="Bg image">
    </div>
    <h1>WE SELL & RENT CARS</h1>
</div>
<br><br><br><br><br>
<div class="tulisan">
<h1>Buy </h1>
<p>Easy.My company specialises in the sale of pre-owned vehicles at a more affordable price compared to other companies. The payment can be made either in cash or through a loan.</p>
</div>
<br><br><br>

