<div id="outPopUp" class="">
    <div class="">

        <!--to show error alert-->
         <div *ngIf="errormsg" class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>{{errormsg}}</strong>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
  
        <!--to show success alert-->
        <div *ngIf="successmsg" class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>{{successmsg}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          <br><br>
          <div align="center">
            <img  src="./assets/logo.png" style="height: 100px;">
      <br><br>
        <form [formGroup]="rentalForm">
          <div  class="col-lg-4 mx-auto" >
            <input type="text" class="form-control" formControlName="name" placeholder="Name">
          </div>
          <br>
          <div class="col-lg-4 mx-auto">
            <input type="text" class="form-control" formControlName="email" placeholder="Email">
          </div>
          <br>
          <div class="col-lg-4 mx-auto">
            <input type="text" class="form-control"  formControlName="phone_num" placeholder="Phone Number">
          </div>
          <br>
          <div class="col-lg-4 mx-auto">
            <select class="form-control" formControlName="car_rent">
              <option value="">Select Car Rent</option>
              <option value="Myvi">Myvi</option>
              <option value="Mazda">Mazda</option>
              <option value="Alphard">Alphard</option>
            </select>
          </div>
          <br>
          <div class="col-lg-4 mx-auto">
            <select class="form-control" formControlName="days">
              <option value="">Select Number of Days</option>
              <option value="1 Days">1 Days</option>
              <option value="2 Days">2 Days</option>
              <option value="3 Days">3 Days</option>
              <option value="More than 3 days">More than 3 days</option>
            </select>
          </div>
          <br>
          <div align="center" class="col-lg-15 mt-2" *ngIf="!getparamid" (click)="rentalSubmit()">
      <button>Add Rental</button>
          </div>
  
        </form>
  
      </div>
    </div>
  
