<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="nav-link active" [routerLink]="['/home']"routerLinkActive="router-link-active">Easy.my</a>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" [routerLink]="['/home']"routerLinkActive="router-link-active">Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" [routerLink]="['/aboutus']"routerLinkActive="router-link-active">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" [routerLink]="['/fag']"routerLinkActive="router-link-active">Faq</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-sm-2" type="search" placeholder="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>

