@import url(https://bootswatch.com/5/zephyr/bootstrap.min.css);

/* Centering the navigation links */
.navbar-nav {
    margin: auto;
  }
  
  /* Moving the navbar-brand a little further */
  .navbar-brand {
    margin-right: 100px; /* You can adjust this value as needed */
  }
  .container-fluid {
    padding-right: 20px; /* You can adjust this value as needed */
    padding-left: 20px;
  }
  .nav-link{
    font-size: 18px;
    color: white;
    
  }
