<div class="container">
<div class="card">
<div class="d-flex justify-content-center align-items-center mb-3">
  <a class="nav-link active mx-2" [routerLink]="['/rentadd']" routerLinkActive="router-link-active">
    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
      <div class="card-header">Rental</div>
    </div>
  </a>

  <a class="nav-link active mx-2 mt-2" [routerLink]="['/buyadd']" routerLinkActive="router-link-active">
    <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
      <div class="card-header">Buyers</div>
    </div>
  </a>
</div>
</div>
</div>
